@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
html{
  scroll-behavior: smooth;
}
.containere {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(253, 249, 249, 0.562);
    border-radius: 10px;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.205);
    margin: 40px;
  }
  .co{
    color: #080808
  }
  .color-d{
    background-color: rgba(253, 249, 249, 0.562);
    border-radius: 10px;
    box-shadow: 0px 15px 36px rgba(0, 0, 0, 0.205);
    padding: 20px;
  }
  .containere .imagen {
    width: 40%;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
  }
  .imagen .img{
    width: 200px;
  }
  .containere .texta {
    width: 50%;
    text-align: justify;
    background-color: rgba(238, 238, 238, 0.959);
    padding: 20px;
    border-radius: 10px;
  }
  
  .containere .h22 {
    
    color: black;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Alkatra', cursive;
    width: 100%;
  }
  
  .containere .pa {
    
    line-height: 1.5;
    color: #080808;
    font-size: 18px;
    font-family: Verdana;
    font-family: 'Roboto Condensed', sans-serif;
   
  }
  .container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 10px;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.205);
    margin: 30px;
    padding-right: 10%;
  }
  .titulo{
    margin-top: 6%;
    margin-bottom: -70px;
  }
  .canal{
    text-align: center;
    
  }
  .canal .canal-y{
    font-size: 22px;
    color: rgb(219, 50, 50);
    border-radius: none;
  }
@media screen and (max-width: 671px) {
  .containere3 {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
  }  
  .containere {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        background-color: #f2f2f2;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px;
        
      }
      .containere .imagen {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 50%;
        margin-top: -15%;
      }
      .containere .texta {
      
        width: 100%;
        text-align: justify;
      }
      .containere .h22 {
        color: black;
        margin-left: 0px;
        font-size: 24px;
        text-align: justify;
        margin-bottom: 10px;
        font-weight: bold;
        font-family: 'Alkatra', cursive;
        width: 99%;
        margin-top: 20px;
      }
      .table_tam{
        width: -200px;
      }
      .titulo{
        margin-top: 20%;
        margin-bottom: -60px;
      }
    
      
  }
 