@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');

.subtitulo{
  font-size: 29px;
  font-weight: 600;
  font-family: 'Cabin Condensed', sans-serif;
}
.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 140px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .tarjetitas1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(to left, rgba(82, 1, 1, 0.473), rgba(0, 0, 0, 0.699)),url(../IMG/portadass.jpg);
    background: linear-gradient(to left, rgba(100, 0, 0, 0.514), rgba(0, 0, 0, 0.644)),url(../IMG/portadass.jpg);
    background-size: auto 280%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
  }
  
  .tarjetitas1 > .tarjetitas2 {
    flex: 0 0 calc(50% - 40px);
    max-width: 240px;
    margin: 20px;
   
   
  }
  .tarjetitas1 > .tarjetitas5 {
    flex: 0 0 calc(50% - 40px);
    max-width: 240px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 15px;
  }

  .tarjetitas4{
    margin-left: 80px;
    margin-right: 90px;
  }
  
  .tarjeta {
    width: 100%;
    max-width: 240px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: rgba(253, 249, 249, 0.562);
    border-radius: 10px;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.205);
    
  }
  .tarjetitas3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.5);  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, rgba(2, 50, 90, 0.473), rgba(0, 0, 0, 0.699)),url(../IMG/portadass.jpg);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, rgba(1, 52, 94, 0.514), rgba(0, 0, 0, 0.644)),url(../IMG/portadass.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: auto 300%; /* Reducir el tamaño de la imagen al 50% de la altura de la caja */
background-position: center bottom; /* Posicionar la imagen en el centro horizontal y en la parte inferior vertical */
background-repeat: no-repeat; 
position: relative;
object-fit: cover; 
  }

 .icono2{
    align-items: center;
    font-size: 70px;
    color: rgb(37, 201, 201);
    
  }
  .contenido2 {
    padding: 20px;
    color: white;
  }
  
  .contenido2 h3 {
    margin-top: 0;
   color: white;
    border-radius: none;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
  }
  
  .contenido2 p {
    margin-bottom: 10px;
    color: rgb(240, 221, 186);
    font-size: 36px;
    margin-top: -20px;
    font-weight: 600;
   
  }
  
  .contenido2 a {
    display: block;
    color: white;
  }
  /*/*/
  .icono3{
    align-items: center;
    font-size: 70px;
    color: rgb(223, 211, 111);
    
  }
  .contenido3 {
    padding: 20px;
    color: white;
  }
  
  .contenido3 h3 {
    margin-top: 0;
   color: white;
    border-radius: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Cabin Condensed', sans-serif;
  }
  
  .contenido3 p {
    margin-bottom: 10px;
    color: rgb(240, 221, 186);
    font-size: 30px;
    margin-top: -20px;
    font-weight: 400;
    font-family: 'Lobster Two', cursive;
   
  }
  
  .contenido3 a {
    display: block;
    color: white;
  }
  /*/*/
  .imagen img {
    width: 100%;
    height: auto;
  }
  
  .contenido {
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .contenido h3 {
    margin-top: 0;
    font-size: 15px;
  }
  
  .contenido p {
    margin-bottom: 10px;
    font-size: 13px;
  }
  
  .contenido a {
    display: block;
  }
  
  .titulo-seccion {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: -90px;
    font-family: 'Kaushan Script', cursive;
  }
  
  @media (max-width: 480px) {
    .tarjetas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 8px;
        margin-top: 0px;
        margin-bottom: 20px;
      
       
      }
    .tarjeta {
      width: calc(50% - 10px);
      margin-right: 0px;
      margin-bottom: 20px;
      width: 200px;
      max-width: 300px;
    }
    
    .tarjeta:last-child {
      margin-right: 0;
    }
    .tarjetitas2 {
      width: 100%;
      max-width: 240px;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 20px;
      border-radius: 10px;
      
      margin-left: 20%;
      margin-top: 25px;
      margin-bottom: 20px;
    }
    .tarjetitas3{
      margin-top: 20px;
    }
    .tarjetitas1 > .tarjetitas2 {
      flex: 0 0 calc(100% - 40px);
    }
    .tarjetitas4{
      flex: 0 0 calc(60% - 40px);
    }
    .tarjetitas1 > .tarjetitas5 {
      flex: 0 0 calc(100% - 40px);
    }
  }
  @media only screen and (max-width: 485px) and (max-height: 708px) {
    .contenido {
      padding: 10px;
      background-color: #f2f2f2;
      
    }
    .tarjeta {
      width: calc(90% - 10px);
      margin-left: 90px;
      margin-bottom: 20px;
      width: 200px;
      max-width: 300px;
    }
    
    .tarjeta {
   margin-bottom: 20px;
    }

 }
 @media only screen and (max-width: 320px) and (max-height: 708px) {
  .tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8px;
    margin-top: 0px;
    margin-bottom: 20px;
  margin-left: -7%;
   
  }
}
